body{
    background-color: #F6F6F6;
    color: #191919;
    font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
    font-size: 20px;
    background-image: url(Gradient-wallpaper-iPhone-sreeragag7-idownloadblog-wallpaper-of-the-week-Morning.png);
    background-repeat: no-repeat;
    background-size: cover;
}







header {
    width: 768px;
    height: 250px;
    background-color: rgba(254,152,154,1.00);
    background-image: url(ts_header.png);
}
main {
    width: 745px;
    background-color: rgba(255,255,255,1.00);
    height: auto;
}
h2 {
    text-align: left;
}
#container {
    width: 768px;
    height: auto;
    text-align: center;
    margin: auto;
    background-color: rgba(255,255,255,1.00);
}
h1 {
    text-align: left;
    padding-left: 10px;
}

aside  {
    width: 150px;
    background-color: rgba(255,217,176,1.00);
    float: left;
    height: 1860px;
}
footer {
    width: 768px;
    height: 55px;
    min-width: 0px;
    background-color: rgba(251,156,97,1.00);
}
input {
    text-align: left;
}
p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-top: 0px;
}
img {
    float: right;
}
nav {
    width: 650px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    margin: 0px 40px 0px 0px;
    width: 60px;
    float: left;
    text-decoration: none;
    text-align: left;
}
#container nav ul {
    margin: auto;
    width: 450px;
    text-align: justify;
    float: right;
}
nav a:link {
    color: #FFB570;
}
nav a:visited {
    color: #FFD9B0;
}
nav a:hover {
    color: #FFA770;
	background-color: bisque;
	padding:10px;
	border-radius: 20px;
}
nav a:active {
    color: #FF866D;
}
td {
    text-align: left;
}
li {
    text-align: left;
    float: none;
    padding-left: px;
    list-style-position: inside;
}
h3 {
    text-align: left;
}
tbody tr th {
}
th {
    background-color: rgba(249,238,174,1.00);
}
